body{
    color: black;
    font: 12px "Oswald";
    background-color: #ffffff;
    margin: auto;
}

input[type="text"] {
    background-color: bisque;
    border: 1px solid #FFECA7;
    height: 30px;
    color: black;
    padding: 0 10px;
    vertical-align: top;
}

p{
    margin: 10px 0;
}

header {
    max-width: 920px;
    margin: auto;
}

nav a {
    text-decoration: none;
}

nav ul {
    float: left;
    margin: 0;
    padding: 0;
}

nav li {
    text-align: right;
    font: 18px 'Oswald', sans-serif;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.top-menu li {
    display: inline-block;
    padding: 0px 10px;
    margin: 0;
}

.top-menu li.active {
    color: #e9603c;
}

.top-menu a {
    color: #bababa;
}
li a:hover {
    color: #e9603c; /* Цвет текста активного пункта */
}

nav{
    padding: 20px 0px;
    float: right;
    text-align: right;
    display: inline-block;
}

.logo-link{
    font: 36px 'Oswald', sans-serif;
    color: #fff;
    margin: 0 0 0 0;
    font-weight: bold;
}

.logo-link span.part1{
    color: #e9603c;
}

.logo-link span.part2{
    color: #f3b29e;
    margin: 0 0 0 -6px;
}

#blocks{
    max-width: 920px;
    margin: auto;
}

block2{
    padding-right: 30px;

}

#block5{
    background: transparent url(../images/h1-bg.png);
    margin: 30px 0;
    padding-right: 10px;
}
#block5 h1 {
    display: inline-block;
    color: #e7663c;
    font: 18px 'Oswald', sans-serif;
    background: #ffffff;
    margin: auto;
    padding: 0 5px;
    font-weight: bold;
    text-align: left;
}
#block6{
    display: inline-block;
    padding: 0px;
}

#block6 a{
    padding-right: 17px;
}

footer {
    background: #f3b29e;
    margin-top: 30px;
}

#footer div {
    display: inline-block;
}

#footer{
    color: white;
    background-color: #e7663c;
    max-width: 920px;
    margin: auto;
    padding: 30px 0;
    height: 240px;
}

#footer hf {
    font: 18px 'Oswald', sans-serif;
    color: #fff;
    padding: 0px 30px;
    font-weight: bold;
}

#footer p {
    padding: 10px 30px;
}

#footer a {
    color: #dbdbdb;
    padding: 0 30px;
}

#about-us{
    float: left;
    width: 279px;
    margin: auto;
}

#twitterf{
    width: 279px;
    float: left;
    margin-left: 40px;
}
author + p{
    display: inline;
}

#social{
    width: 279px;
    float: left;
    margin-left: 40px;
}


.social-icon {
    width: 30px;
    height: 30px;
    background: url(../images/social.png) no-repeat;
    display: inline-block;
    margin-right: 10px;
}

.twitter {
    background-position: 0 0px;
}

.facebook {
    background-position: 0 0;
}

.google-plus {
    background-position: 0 0;
}


