body{
    color: black;
    font: 12px "Oswald";
    background-color: #fff;
    margin: auto;
}

input[type="text"] {
    background-color: bisque;
    border: 1px solid #FFECA7;
    height: 30px;
    color: black;
    padding: 0 10px;
    vertical-align: top;
}

.container{
    width: 920px;
    margin: auto;
}

p{
    margin: 10px 0;
}

header {
    max-width: 920px;
    margin: auto;
}

.logo-link{
    font: 36px 'Oswald', sans-serif;
    color: #fff;
    margin: 0 0 0 0;
    font-weight: bold;
}

.logo-link span.part1{
    color: #e9603c;
}

.logo-link span.part2{
    color: #f3b29e;
    margin: 0 0 0 -6px;
}

nav a {
    text-decoration: none;
}

nav ul {
    float: left;
    margin: 0;
    padding: 0;
}

nav li {
    text-align: right;
    font: 18px 'Oswald', sans-serif;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.top-menu li {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
}

.top-menu li.active {
    color: #e9603c;
}

.top-menu a {
    color: #bababa;
}

li a:hover {
    color: #e9603c; /* Цвет текста активного пункта */
}

nav{
    padding: 20px;
    float: right;
    text-align: right;
    display: inline-block;
}


#block1 {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#block1 img{
    width: 100%;
}

#block1::after, #block1::before{
    position: absolute;
    background: #f3b29e;
    content: "";
    width: 1500px;
    height: 50px;
    display: block;
    top: 0;
    margin-top: 13px;
}

#block1::after{
    left:100%;
    margin-left: 10px;
}

#block1::before{
    right:100%;
    margin-right: 10px;
}

#blocks{
    max-width: 920px;
    margin: auto;
}

#block2{
    display: inline-block;
}

#block2 a{
    padding-right: 12px;
}

#block3{
    width: 940px;
}

#block3 div{
    max-width: 295px;
    display: inline-block;
    margin-right: 15px;
}

#block3 h1{
    width: 220px;
    font: 18px 'Oswald', sans-serif;
    color: #e7663c;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
}

#block3 p{
    color: #505050;
    font: 14px "Oswald";
}

#block3 button {
    color: #fff;
    background-color: #e7663c;
    border: none;
    height: 32px;
    width: 75px;
    font-family: 'Oswald', sans-serif;
}

#block4{
    background: transparent url(../images/h1-bg.png);
    margin: 30px 0;
    padding-right: 10px;
}

#block4 h1 {
    display: inline-block;
    color: #e7663c;
    font: 18px 'Oswald', sans-serif;
    background: #ffffff;
    margin: auto;
    padding: 0 5px;
    font-weight: bold;
    text-align: left;
}

#block5{
    display: inline-block;
}

#block5 a{
    padding-right: 17px;
}

#footer div {
    display: inline-block;
}

#footer{
    color: white;
    background-color: #e7663c;
    padding: 30px 0;
    margin-top: 30px;
    height: 200px;
    position: relative;
    width: 100%;
}

#footer::after, #footer::before{
    position: absolute;
    background: #f3b29e;
    content: "";
    width: 1500px;
    height: 240px;
    display: block;
}

#footer::after{
    left:100%;
    margin-left: 10px;
}
#footer::before{
    right:100%;
    margin-right: 10px;
}

#footer hf {
    font: 18px 'Oswald', sans-serif;
    color: #fff;
    padding: 0px 30px;
    font-weight: bold;
}


#footer a {
    color: #dbdbdb;
}

#about-us{
    float: left;
    width: 279px;
    margin: auto;
}

#about-us p{
    margin-left: 30px;
    width: 90%;
}

#twitterf{
    width: 279px;
    float: left;
    margin-left: 40px;
}

#twitterf div{
    display: inline-block;
    padding-left: 30px;
    float: left;
    margin-bottom: 5px;
}

#twitterf a {
    text-decoration: none;
}
#twitterf p {
    width: 100%;
}

#twitterf author {
    padding: 0 5px;
}
#social{
    width: 279px;
    float: left;
    margin-left: 40px;
}

.social-icon {
    width: 30px;
    height: 30px;
    background: url(../images/social.png) no-repeat;
    display: inline-block;
    margin-right: 10px;
}


